
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 960px;
  height: 500px;
  position: relative;
  background-image:url("../notepad_page.png");
  background-size: 100%;
}

form {
  position: absolute;
  top: 1em;
  left: 1em;
}

path {
position: absolute;
top: 1em;
  fill-rule: evenodd;
  stroke: #333;
  stroke-width: 2px;
}

.sun path {
position: relative;
  fill: #FF2106;
}

.planet path {
position: relative;
  fill: #0523FE;
}

.annulus path {
position: relative;
  fill: #252525;
}

.header {
position: relative;
	left: -100px;
	top: -20px;
	background-color: #000000;
	height: 210px;
	width: 3400px;
}

.bigwillypic {
	position: absolute;
	left: 900px;
}


.bigwillyexplosion {
	position: absolute;
	left: 1600px;
	top: 700px;
}

.bigwillyconcepttitle {
	position: absolute;
	left: 1000px;
	top: 400px;
	font-size: 92px;
}

.cogs {
	position: absolute;
	left: 400px;
}

.paragraphone {
  	position: absolute;
	left: 380px;
	top: 1000px;
	font-size: 62px;
	color: #FF1212;
}


.paragraphtwo {
  	position: absolute;
	left: 1000px;
	top: 770px;
	font-size: 62px;
	color: #12FF12;
}